@font-face {
    font-family: "iconfont";
    /* Project id 4864052 */
    src: url('//at.alicdn.com/t/c/font_4864052_y5aiyaizw1.woff2?t=1744458610101') format('woff2'),
        url('//at.alicdn.com/t/c/font_4864052_y5aiyaizw1.woff?t=1744458610101') format('woff'),
        url('//at.alicdn.com/t/c/font_4864052_y5aiyaizw1.ttf?t=1744458610101') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
    content: "\e60f";
}

.icon-angle-right:before {
    content: "\e603";
}

.icon-back:before {
    content: "\e662";
}